.company-logo__name--footer{
	@extend %one-third; 
	color: $color-blanco;
}

.footer{
	@extend %grid;
	color: $color-blanco;
	background-color: $color-gris;
}

.footer__text{
	display: inline-block;
	font-size: .65rem;
	margin: 1rem 4rem;
}

.company-logo--footer{
	@extend %two-thirds;
	display: inline-block;
	font-size: 2em;
	margin: 1px 0 1px 3rem;
	text-align: right;
}

