::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   font-style: italic;  
}

::-moz-placeholder {  /* Firefox 19+ */
   font-style: italic;  
}

:-ms-input-placeholder {  
   font-style: italic;  
}

.info__text--block{
	display: block;
}

.display{
	background-color: #2C2F36;
	color: #FFF;
	margin-top: -2rem;
	padding: 2rem;
	display: none;
}

.display .display__summary .info__text{
	margin-left: 0;
}

.display__image,
.display__credits{
	@extend %one-fifth;
	display: inline-block;
}

.display__image{
	margin: 0 2rem 0 0;
	vertical-align: top;
}

.display__image figure img{
	border: 2px grey solid;
	border-radius: 4px;
}

.display__summary{
	@extend %one-half;
	display: inline-block;
	vertical-align: top;
}

.display__summary__button{
	background-color: #DC0000;
	border-color: #DC0000;
	border-radius: 3px;
	margin-right: 2em;
	padding: 0.7em;
}

.display__summary__button:hover{
	background-color: #b30000;
	border-color: #b30000;
}

.display__summary__title{
	font-size: 2em;
}

.display__summary__text{
	margin-right: 5em;
}

.display__credits__title{
	text-decoration: underline;
}

.divider{
	margin-top: 0;
}

.form{
	float: right;
	margin-top: 1.17rem;
}

.form__search{
	border-style: none;
	border-bottom-style: solid;
	border-bottom-width: .1rem;
	border-bottom-color: #CACCCB;
}

.form__icon{
	position: absolute;
  	margin: -28px;
  	right: 100px;
  	padding: 3px 0px;
  	height: auto;
  	width: 1.3rem;
}

.form, .playlist__title{
	display: inline-block;
}

.modal{
	width: 80%;
}

.modal__video iframe{
	@extend %one-half;
	@extend %push--one-quarter;
}

.modal__title{
    margin-bottom: 0;
}

.playlist{
	margin: 2rem 4rem 1rem;
}

.new-releases{
	margin: -2rem 4rem -1rem;
}
.playlist,
.new-releases{
	@extend %grid;
}
.playlist__title{
	color: #444050;	
	font-style: italic;
	font-weight: normal;
}
.playlist__title--favorites{
	display: block;
	margin: 3rem 0 1rem;
}
.playlist__layer{
	background: rgba(119,136,153,0.5);
    /*height: 26.2%;*/
    height: 186px;
    position: absolute;
    width: 16.2%;
    border-radius: 3.5%;
    display: inline-block;
}

.playlist__layer:hover{
	background: rgba(119,136,153,0.3);
}

.similars__figure{
	@extend %one-eighth;
	display: inline-block;
	margin: 0;
	vertical-align: top;
}

.similars__figure:first-child{
	margin-left: 3em;
}

.similars__figure img{
	height: 9em;
}

.similars__figure img,
.similars__figure figcaption h4{
	width: 80%;
}

.similars__figure figcaption h4{
	text-align: center;
}

.thumbs{
	@extend %one-fifth;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 2rem;
	width: 18%;
}

.thumbs:hover{
	border: 3px red solid;
	border-radius: 3.5%;
}

.thumbs:not(:first-child) {
    margin-left: 2%;
}

.thumbs figure{
	margin: 0;
}
.thumbs__icon{
	margin: .6rem 0 0 1rem;
	position: absolute;
}
.thumbs__icon--download{
	margin: .3rem 0 0 11rem;
}
.thumbs__img{
	border-radius: 2.5%;
	width: 100%;
}
.thumbs__name{
	position: absolute;
    color: white;
    margin: -2.5rem 0 0 1rem;
}